.main__message__mobile{

}
.main__message{
  height: 90vh;
  width: 90vw;
  margin-right: 10vw;
  display: none;
  .main__message__image{
    background-image: url("../../assets/Home-Hero-Image.jpg");
    background-position: right;
    width: 50%;
  }
  .main__message__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    text-align: center;
    p{
      font-size: calc(10px + 3vmin);
    }
    .decoration{
      margin: 3vh auto 6vh auto;
      background-image: url("../../assets/Decoration.svg");
      height: 33px;
      width: 253px;
    }
    .take__actions{
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      height: 12vh;
      .action{
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        width: 40%;
        font-weight: 300;
        font-size: calc(10px + 2.5vmin);
        border: 1px solid $color-main;
      }
    }
  }
}

/*Desktop view*/

@media screen and (min-width: 768px) {
  .main__message__mobile{
    display: none;
  }
  .main__message{
    display: flex;
  }
}